{{extend 'layout.html'}}
<script type="text/javascript">
    $(document).ready(function(){
        $(location.hash).css('background-color','#FFFF00');
    });
</script>
</head>
<h2 style="text-align:center">Bibliography</h2>
<ul>
<li id="anderson">Anderson, L. M.  &quot;Commentary on Fragmentary Latin Funeral Inscription.&quot;</li>
<li id="budge">Budge, E.A. Wallis, Sir. <u>The Rosetta Stone</u>. London: The British Museum, 1913.</li>
<li id="chapman">Chapman, Herrick.  &quot;
The Trailblazing Herrick Sisters of Elmira.&quot; <u>News from the Schlesinger Library</u>. Radcliffe Institute for Advanced Study: Spring 2008. <a href="http://www.radcliffe.edu/documents/schlesnews_spring2008.pdf">Link</a></li>
<li id="schwenger">Schwenger, Peter. &quot;Codex Seraphinianus, Hallucinatory Encyclopedia.&quot;  <a href="http://faculty.msvu.ca/pschwenger/codex.htm">Link</a></li>
<li id="ulrich">Ulrich, Laurel and Ivan Gaskell.  <u>United States in the World 30: Tangible Things: Harvard Collections in World History</u>.  &quot;John Harvard's Books,&quot; February 7, 2011. Harvard University, MA.</li>
</ol>
<br/>
<img style="float:left;" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"/>
 <img style="float:left; margin-left:10px" src="{{=URL('static','images/poweredby.png')}}"/>
